################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/v17/.suo
/LibrarianUI/bin/Debug/LibrarySystem.exe
/LibrarianUI/bin/Debug/LibrarySystem.pdb
/LibrarianUI/obj/Debug/LibrarianUI.csproj.AssemblyReference.cache
/LibrarianUI/obj/Debug/LibrarySystem.exe
/LibrarianUI/obj/Debug/LibrarySystem.pdb
/LibrarySystemApplication/bin/Debug/LibrarySystem.exe
/LibrarySystemApplication/bin/Debug/LibrarySystem.pdb
/LibrarySystemApplication/obj/Debug/LibrarySystemApplication.csproj.AssemblyReference.cache
/SearchEgine-TFIDF/obj/Debug/SearchEgine-TFIDF.csproj.AssemblyReference.cache
