################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/v17/.suo
/BookClassLibrary/bin
/BookClassLibrary/obj
/Dataloader/bin
/Dataloader/obj
/LibrarianUI/bin
/LibrarianUI/obj
/LibrarySystemApplication/bin
/LibrarySystemApplication/obj
/SearchEgine-TFIDF/bin
/SearchEgine-TFIDF/obj
/UserClassLibrary/bin
/UserClassLibrary/obj