################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/FileContentIndex/a1e6b132-aca3-45c6-9849-93eca6626e20.vsidx
/.vs/LibrarySystemApplication/v17/.suo
/.vs
/BookClassLibrary/bin
/BookClassLibrary/obj
/Dataloader/bin
/Dataloader/obj
/LibrarianUI/bin
/LibrarianUI/obj
/LibrarySystemApplication/bin
/LibrarySystemApplication/obj
/SearchEgine-TFIDF/bin
/SearchEgine-TFIDF/obj
/UserClassLibrary/bin
/UserClassLibrary/obj
/LibrarianUI/obj/Debug/LibrarianUI.csproj.GenerateResource.cache
/Dataloader/obj/Debug/Dataloader.csproj.AssemblyReference.cache
/LibrarianUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibrarySystemApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dataloader/bin/Debug/Dataloader.dll
/Dataloader/bin/Debug/Dataloader.pdb
/Dataloader/obj/Debug/Dataloader.csproj.CoreCompileInputs.cache
/Dataloader/obj/Debug/Dataloader.dll
/Dataloader/obj/Debug/Dataloader.pdb
/LibrarianUI/bin/Debug/Dataloader.dll
/LibrarianUI/bin/Debug/Dataloader.pdb
/LibrarianUI/obj/Debug/LibrarianUI.csproj.CoreCompileInputs.cache
/LibrarySystemApplication/bin/Debug/Dataloader.dll
/LibrarySystemApplication/bin/Debug/Dataloader.pdb
/LibrarySystemApplication/bin/Debug/LibrarySystemApplication.exe
/LibrarySystemApplication/bin/Debug/LibrarySystemApplication.pdb
/LibrarySystemApplication/bin/Debug/SearchEgine_TFIDF.dll
/LibrarySystemApplication/bin/Debug/SearchEgine_TFIDF.pdb
/LibrarySystemApplication/obj/Debug/LibrarySystemApplication.csproj.CoreCompileInputs.cache
/LibrarySystemApplication/obj/Debug/LibrarySystemApplication.csproj.GenerateResource.cache
/LibrarySystemApplication/obj/Debug/LibrarySystemApplication.exe
/LibrarySystemApplication/obj/Debug/LibrarySystemApplication.pdb
/SearchEgine-TFIDF/bin/Debug/Dataloader.dll
/SearchEgine-TFIDF/bin/Debug/Dataloader.pdb
/SearchEgine-TFIDF/bin/Debug/SearchEgine_TFIDF.dll
/SearchEgine-TFIDF/bin/Debug/SearchEgine_TFIDF.pdb
/SearchEgine-TFIDF/obj/Debug/SearchEgine-TFIDF.csproj.CoreCompileInputs.cache
/SearchEgine-TFIDF/obj/Debug/SearchEgine_TFIDF.dll
/SearchEgine-TFIDF/obj/Debug/SearchEgine_TFIDF.pdb
